/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "@ngxhelpers/utils/assets/popover.scss";
@mixin open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
* {
  box-sizing: border-box;
}
.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}
// App styles
body {
  margin: 0px;
  font-size: 14px;
  @include open-sans;
}
.wrapper {
  display: flex;
  width: auto;
  background: #fafafa;
  flex-direction: column;
  padding: 10px;
}
.item {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
}
.header {
  display: flex;
  gap: 15px;
  padding: 5px 10px;
  // background: #ededed;
  // border-radius: 3px;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;

  .head-grp {
    display: flex;
    gap: 15px;
  }
  .status {
    font-weight: 700;
  }
  .url {
    font-size: 15px;
  }
  .blue {
    color: #0000ff;
  }
  .purple {
    color: #800080;
  }
  .green {
    color: #008000;
  }
  .orange {
    color: #f96237;
  }
  .lite-orange {
    color: #fa9a27;
  }
  .red {
    color: #ff0000;
  }
}
.sub-header {
  display: flex;
  gap: 15px;
}
.req-head,
.res-head {
  display: block;
  border: 1px dashed #ddd;
  padding: 15px;
  width: 50%;
  overflow: hidden;

  h4 {
    margin-top: 0px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
  }
  h5 {
    margin-top: 0px;
    margin-bottom: 5px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 5px;
  }
}
.sub-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2px 5px;
  font-size: 13px;
  .name {
    text-align: end;
    font-weight: 600;
    display: inline-block;
    position: relative;
    &::after {
      content: ":";
      margin: 0 0 0 4px;
    }
  }
  .val {
    display: inline-block;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: wrap;
    max-height: 40px;
    color: #686868;
  }
}
pre {
  background: #ddd;
  padding: 10px;
  border-radius: 5px;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.data-box {
  max-height: 300px;
  overflow-y: auto;
  display: block;
  position: relative;
}
.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 30px !important;
}
.mat-expansion-panel-header-title {
  flex-grow: 5 !important;
}
.mat-expansion-panel-header-description {
  flex-grow: 1 !important;
  justify-content: end;
}

.ngx-overlay-pannel.popup {
  border-radius: 6px;
  max-width: 90%;
  .data-box {
    width: 100%;
    border-radius: 6px;
    margin: 0;
  }
}
a {
  cursor: pointer;
  color: #0000ff;
}
